@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body,
html {
    background-color: #1b1b1b;

}

body {
    position: relative;
    display: flex;
    max-height: 100dvh;
    overflow-y: hidden;
    font-family:
        "Open Sans",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
}



.container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: start;
    justify-content: center;
    max-height: 100vh;
    width: max-content;
    height: 100dvh;
    gap: 1rem;
    overflow-y: auto;
    overflow-x: hidden;

    /* border: 1px solid red; */

}

.setting-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 4rem;
}

.setting-column:last-child {
    margin-right: .8rem;
}


.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fe621b;
    font-size: 1.5rem;
    font-weight: 500;
    height: 2.5rem;
    text-align: center;
    cursor: pointer;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.title svg {
    transform: rotate(180deg);
}

.settings-container {
    width: 20rem;
    max-height: max-content;
    overflow: hidden;

    border-radius: .8rem;
    box-shadow: rgba(224, 219, 219, 0.16) 0px 3px 6px, rgba(208, 205, 205, 0.23) 0px 3px 6px;

}

.settings {
    border: 4px solid white;
    border-top: none;
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    padding: .5rem;
    background: rgb(12, 12, 12);
    transition: max-height 1s ease;
    font-family: "Anonymous Pro", monospace;
}




.setting {
    display: flex;
    flex-direction: column;
    color: rgb(194, 181, 181);
    overflow: hidden;
}

.setting-i {
    display: flex;
    justify-content: space-between;
    margin-top: .2rem;
}

.setting p {
    margin-left: .5rem;
    font-size: 1.3rem;
    white-space: nowrap;
    display: inline-block;
}

.setting p.overflowed {
    --animation-speed: 1s;
    animation: scrollText var(--animation-speed) ease-in-out infinite alternate;
}

.info-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: help;
}

@keyframes scrollText {
    from {
        transform: translateX(0);
    }

    to {
        /* Calculate based on character count and font size */
        transform: translateX(calc(var(--container-width) - var(--text-width)));
    }
}

.setting textarea {
    resize: none;
    width: 90%;
    margin-left: .3rem;
    min-height: 1.5rem;
    height: 1.5rem;
    font-size: 1.2rem;
    background-color: #1b1b1b;
    color: white;
    margin-top: .3rem;
    border-radius: .5rem;
    padding-left: .2rem;
    border: 1px solid rgb(49, 49, 49);
    outline: none;
    margin-top: 0;
    overflow-y: hidden;


}





.settings-container.hidden .settings * {
    display: none;
}

.settings-container.hidden .settings {
    max-height: 0;
    /* overflow: hidden; */
    margin: 0;
    /* padding: 0; */
    /* border-bottom: none; */
}

.arrows {
    transition: transform .5s ease;
}

.settings-container.hidden .arrows {
    transform: rotate(0deg) !important;
}




.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 16.3rem;
    height: 100dvh;
    background-color: #2d2d2d;
}

.lang-container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 1rem;
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    overflow-y: auto;
}

.lang-container .lang-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: .5rem;
    border-radius: .3rem;
    background-color: aliceblue;
    cursor: pointer;
}

.lang-item p {
    width: 100%;
}


.lang-item svg {
    transition: transform .3s ease;


}

.lang-item svg:hover {
    transform: scale(1.5);
}

.sidebar hr {
    visibility: hidden;
    height: .5rem;
}

.top-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-items.top-items h3 {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.top-items.top-items .title-2 {
    text-align: center;
    color: white;
    font-size: 1rem;
    font-weight: 700;
}

.sidebar-bt {
    background-color: #fe621b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    width: 13rem;
    height: 3rem;
    color: white;
    padding-left: 1rem;
    cursor: pointer;
    margin-top: .7rem;



    & p {
        display: block;
        width: 100%;
        text-align: start;

    }


}

.dropzone {
    display: flex;
    justify-content: center;
    margin: .5rem 0 .5rem 0;
    align-items: center;
    border: 2px dashed rgb(151, 145, 145);
    color: white;
    border-radius: .5rem;
    width: 13rem;
    height: 5rem;
    padding: .3rem;
    /* padding: 2rem; */
    font-size: 1.3rem;
    text-align: center;
}



.search {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    width: calc(100% - 16.3rem);
    height: 2rem;
    padding-top: .5rem;
    margin-left: 16.3rem;
    background-color: #1b1b1b;
    z-index: 5;
}

.search input {
    padding: 0 .7rem 0 .7rem;
    border-radius: 1rem;
    width: 18rem;
    height: 1.5rem;
    background-color: #a19b9b;
    outline: none;
}

.search-sel {
    margin: 2px 0 4px 0;
    box-shadow: rgb(82, 250, 88) 0px 0px 5px 1px;
    padding-bottom: .3rem;
    /* border: 1px solid red; */
}

/* .sidebar-bt:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    filter: brightness(0.9);
} */


#portraitDiv {
    background-image: url(img/rotate.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.preview-modal * {
    margin: 0;
    padding: 0;
}

.preview-modal {
    position: fixed;
    height: 100dvh;
    width: 100dvw;
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}

.preview-modal:open {
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1;

}

.preview-modal::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);

    border: none;
    outline: none;
    box-shadow: none;
}

.modal-preview-content {
    position: absolute;
    top: 50%;
    left: 50%;



    transform: translate(-50%, -50%);


    /* -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); */


    width: 90vw;
    height: 70vh;

}

.modal-preview-content {
    animation: bounce-in .5s ease;
}


.preview-title-bar {

    width: 100%;
    height: 2rem;
    background-color: #313131;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-radius: .3rem;
    z-index: 500000;
}

#preview-iframe {
    width: 100%;
    height: 70vh;
}

.prewiew-loading-bg,
.prewiew-loading-bg-static {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    height: calc(70vh);
    top: 0;
    width: 100%;
    background-color: #050505;
    color: white;
    font-size: 3.7em;
}

.prewiew-loading-bg-static {
    z-index: -1;
}

.prewiew-loading-bg.loading {
    animation: fadeOut .1s linear .2s forwards;
}



.modal-close-bt {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: .25rem;
    color: rgb(194, 181, 181);
}











.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;

}

@keyframes fadeOut {

    0%,
    100% {
        opacity: 1;
        z-index: 1;
    }

    99% {
        opacity: 0;
    }

    100% {

        z-index: -1;
    }
}


@keyframes octocat-wave {

    0%,
    100% {
        transform: rotate(0)
    }

    20%,
    60% {
        transform: rotate(-25deg)
    }

    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}


@media only screen and (orientation: portrait) and (min-aspect-ratio: 1/1) {
    body {
        visibility: hidden;
    }
}

@keyframes bounce-in {
    0% {
        transform: translate(-50%, -190%);
    }

    60% {
        transform: translate(-50%, -50%);
    }

    80% {
        transform: translate(-50%, -53%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

.fancyScroll::-webkit-scrollbar {
    width: 12px;
    z-index: 100;
}

.fancyScroll::-webkit-scrollbar-track {
    border-radius: .1rem;
    background-color: transparent;
    /* border: 1px solid #cacaca; */
    /* box-shadow: inset 0 0 6px rgba(0, 0, 0, .3); */
}

.fancyScroll::-webkit-scrollbar-thumb {
    border-radius: .1rem;
    background-color: #fe6619;
    border-radius: .3rem;
    cursor: pointer;
}

.visibility-hidden {
    visibility: hidden;
}


/* css.gg */




/* From Uiverse.io by TimTrayler */
.switch {
    --secondary-container: #3a4b39;
    --primary: #84da89;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.7em;
    height: 1.8em;
}

.switch input {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #313033;
    transition: .2s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.2em;
    bottom: 0.2em;
    background-color: #aeaaae;
    transition: .4s;
}

input:checked+.slider::before {
    background-color: var(--primary);
}

input:checked+.slider {
    background-color: var(--secondary-container);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--secondary-container);
}

input:checked+.slider:before {
    transform: translateX(1.9em);
}

/* END From Uiverse.io by TimTrayler  */